.homecontent {
    text-align: center;
   
    --background-color: var(--ion-color-dark) !important;
    --background: var(--ion-color-dark) !important;
    --color: var(--ion-color-dark-shade) !important;
  }

  
  .center {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-49%, -49%);
    transform: translate(-49%, -49%);
    width: 90%;
    font-family: "Segoe UI";
  }

  [linespace] {

    height: 20px;
  }