<ion-content class="homecontent">
	<div class="center">
	   <div heading-column-lr>
	      <h1 big-heading>Login</h1>
	    </div>
	    <ion-label class="pulse">
	      Identifíquese primero
	    </ion-label>
	    <div linespace></div>
		<ion-item transparent>
			<ion-icon name="person-circle"></ion-icon>
		     <ion-input [(ngModel)]="dni" placeholder="DNI" type="text" required>
		     </ion-input>
		</ion-item>
 
		<ion-item transparent>
			<ion-icon name="key"></ion-icon>
	      <ion-input [(ngModel)]="password" placeholder="Password" type="password" required>
	      </ion-input>
		</ion-item>
		
		
		<ion-button class="ion-button-class" (click)="prosesLogin()">Iniciar sesión</ion-button>
		
	</div>
	
</ion-content>
