<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <span class="material-icons">
        delivery_dining
        </span>      
      <ion-label>Nuevo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <span class="material-icons">
        today
        </span>
      <ion-label>Reporte Hoy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <span class="material-icons">
        date_range
        </span>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
