<ion-header class="ion-no-border">
  <ion-item class="background" lines="none">
    <ion-title>Mis Deliverys Hoy</ion-title>
    <!-- <div usuario>
      <p>Usuario&nbsp;&nbsp;&nbsp;<br>Liseth&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="stick">&nbsp;</div>-->
    <span class="material-icons">
      today
    </span>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="none">
    <ion-icon slot="start" name="information-circle"></ion-icon>
    <ion-label>Deslice hacia abajo para actualizar</ion-label>
</ion-item>
  <ion-card style="background-color: beige;">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg offset="2" *ngFor="let kpi of kpis">
          💰 <b>Recaudado hoy: S/.{{kpi.app_ganancia_hoy}}</b> 💰
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let report of reports">
      <ion-item>
      <ion-card style="background-color:beige; width: 500px; position: relative;">
        <ion-card-content>
          <ion-grid>
            <ion-row >
              <ion-col>
                <h2><b>Fecha Registro: {{report.app_fecha}}</b></h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>Costo:</b> S/.{{report.app_ganancia_total}}
              </ion-col>
              <ion-col>
                <b>MedioPago:</b> {{report.app_medio_pago}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>Nombre:</b><br> {{report.app_name}}
              </ion-col>
              <ion-col>
                <b>Dirección:</b><br> {{report.app_direccion}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>Comanda: </b>{{report.app_numero_pedido}}
              </ion-col>
              <ion-col>
                <b>Celular:</b> {{report.app_celular}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>WhatsApp: </b>&nbsp;
                <a href="{{report.app_wsp}}">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
              </ion-col>
              <ion-col>
                <b>Maps: </b>&nbsp;
                <a href="{{report.app_maps}}">
                  <ion-icon name="map-sharp"></ion-icon>
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-lg offset="2">
                  💵 <b>Ganancia:</b> S/.{{report.app_ganancia_vendedor}} 💵
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-card-content>
      </ion-card>
    </ion-item>

  
        <ion-item-options side="end">
          <ion-item-option color="danger"(click)="eliminar(report.app_delivery_id)" >Eliminar</ion-item-option>
        </ion-item-options>

      
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher class="refresh" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastre para actualizar"
      refreshingSpinner="circles" refreshingText="Refrescando datos...">
    </ion-refresher-content>
  </ion-refresher>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>