<ion-header class="ion-no-border">
  <ion-item class="background" lines="none">
    <ion-title>Nuevo</ion-title>
    <ion-chip slot="end" (click)="prosesLogout()">
      <ion-icon name="exit"></ion-icon>&nbsp;Cerrar sesion&nbsp;&nbsp;
      <span class="material-icons">
        delivery_dining
        </span> 
    </ion-chip>  
     
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
<ion-item-group>
    <ion-item>
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input [(ngModel)]="name" placeholder="Ej. Alfredo Perez" type="text"></ion-input>
    </ion-item>

<ion-item>
  <ion-label position="floating">Dirección de Entrega:</ion-label>
  <ion-input [(ngModel)]="direccion" placeholder="Ej. Av. Amancaes 739" type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Celular:</ion-label>
  <ion-input [(ngModel)]="celular" placeholder="Ej. 995998132" type="text"></ion-input>
</ion-item>

  <ion-item>
    <ion-label position="floating">Costo Delivery:</ion-label>
    <ion-input [(ngModel)]="ganancia_total" placeholder="Ej. 5"  type="tel"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Comanda:</ion-label>
    <ion-input [(ngModel)]="numero_pedido" placeholder="Ej. 4050" type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Medios de Pago</ion-label>
    <ion-select  [compareWith]="compareWith" [(ngModel)]="pago" (ionchangue)="onChangue($event)">
      <ion-select-option *ngFor="let medio of mediospago" [value]="medio.medio_pago">{{medio.medio_pago}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Vendedor: {{fullname}}</ion-label>
  <ion-input disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha: {{fecha}}</ion-label>
  <ion-input disabled></ion-input>
  </ion-item>


</ion-item-group> 
</ion-card>


<ion-button class="ion-button-class" (click)="registrar()">Registrar</ion-button>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
