<ion-header class="ion-no-border">
  <ion-item class="background" lines="none">
    <ion-title>Historial Deliverys</ion-title>
    <!-- <div usuario>
      <p>Usuario&nbsp;&nbsp;&nbsp;<br>Liseth&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="stick">&nbsp;</div>-->
    <span class="material-icons">
      date_range
    </span>
  </ion-item>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-item lines="none">
    <ion-icon slot="start" name="information-circle"></ion-icon>
    <ion-label>Deslice hacia abajo para actualizar</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item lines="none">
            <ion-label>Fecha Inicial</ion-label>
            <ion-datetime [(ngModel)]="inicial"  displayFormat="DD/MMMM/YYYY" placeholder="Seleccionar"></ion-datetime>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card>
          <ion-item lines="none">
            <ion-label>Fecha Final</ion-label>
            <ion-datetime [(ngModel)]="final" displayFormat="DD/MMMM/YYYY" placeholder="Seleccionar"></ion-datetime>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="doRefresh($event)">Buscar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
 

 

  <ion-card style="background-color: beige;">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg offset="2" *ngFor="let total of total_historial">
          💰 <b>Total Recaudado: S/.{{total.app_ganancia_hoy}}</b> 💰
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-list>
    <ion-item-sliding *ngFor="let history of historial">
      <ion-item>
        <ion-card style="background-color:beige; width: 500px; position: relative;">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h2><b>Fecha Registro: {{history.app_fecha}}</b></h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <b>Costo:</b> S/.{{history.app_ganancia_total}}
                </ion-col>
                <ion-col>
                  <b>MedioPago:</b> {{history.app_medio_pago}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <b>Nombre:</b><br> {{history.app_name}}
                </ion-col>
                <ion-col>
                  <b>Dirección:</b><br> {{history.app_direccion}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <b>Comanda: </b>{{history.app_numero_pedido}}
                </ion-col>
                <ion-col>
                  <b>Celular:</b> {{history.app_celular}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <b>WhatsApp: </b>&nbsp;
                  <a href="{{history.app_wsp}}">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                  </a>
                </ion-col>
                <ion-col>
                  <b>Maps: </b>&nbsp;
                  <a href="{{history.app_maps}}">
                    <ion-icon name="map-sharp"></ion-icon>
                  </a>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col size="12" size-lg offset="2">
                    💵 <b>Ganancia:</b> S/.{{history.app_ganancia_vendedor}} 💵
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <!--
  
        <ion-item-options side="end">
          <ion-item-option color="danger"(click)="eliminar(report.app_delivery_id)" >Eliminar</ion-item-option>
        </ion-item-options>
-->

    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher class="refresh" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastre para actualizar"
      refreshingSpinner="circles" refreshingText="Refrescando datos...">
    </ion-refresher-content>
  </ion-refresher>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>