/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
  //header
  .background {
    --background:#508a1c;
  }
  [icon-small]{
    width: 35px;
    height: 35px;
    color: black;
   }
  
  /* [usuario]{
       text-align: right;
     
   }*/
  
  .stick {
    border-left: 2px solid black;
    height: 30px;
    top: 20px;
  }
  //fin header
  //button
  ion-button{
    --background:#508a1c;
     border: none;
     color: white;
     text-transform: capitalize;
     font-size: 16px;
     cursor: pointer;
     display: flex;
  justify-content: center;
   }